{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Admin !{% endblock %}

{% block body %}
<div class="admin-nav">
	<a class="button" href="{{ path('inventaire') }}">Inventaire des produits</a>
	<a class="button" href="{{ path('listCommentaire') }}">listing des commentaires</a>
	<a class="button vert" href="{{ path('addProduit') }}">Ajouter un produit</a>
</div>

		

{% endblock %}
