body {
    margin: 20px;
    background-color: eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: center;
}
ul {
    list-style-type:none;
}
.alert-success {
    color: green;
    font-weight: bold;
}
.alert-delete {
    color: orangered;
    font-weight: bold;
}
.admin a {
    background-color:crimson;
    color: aliceblue;
}

.produit_card {
    display: flex;
    padding: 2rem;
    border: solid 2px brown;
    border-radius: 30px;
    margin-bottom: 1rem;
    gap : 1rem;
}
.card_info {
    width: 100%;
}
.card_nom {
    font-weight: bold;
}
.card_img {
    width: 200px;
    height: auto;
}
.card_bot {
    display: flex;
    justify-content: center;
}
.button {
    text-decoration: none;
    border-radius: 25px;
    padding: 0.7em 2em;
    color:white;
    background-color: blue;
}
.button:hover {
    background-color: green;
}
.vert {
    background-color: green;
}
.vert:hover {
    background-color: #003a00;
}
.img_invent{
    width: 50px;
    height: 50px;
}

.fiche {
    display: grid;
    grid-template-columns: 100px 1fr;
}
.img_fiche {
    width: 100px;
    height: auto;
}

.commentaire{
    background-color: #DDD;
    margin: 1em;
    padding: 2px 20px;
}
.produit {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 1em;
    border: solid 2px blue;
    border-radius: 30px;
    margin-bottom: 1rem;
    gap : 1rem;
}
.info_produit{
    width: 100%;
}
.nom_produit {
    margin: 0;
}
.info_bot {
    display: flex;
    justify-content: space-between;
}
.info_bot p {
    margin: 0;
}
.produit .button {
    font-size: 0.9rem;
    padding: 0.5em 1em;
}
.card_modif {
    display: flex;
    justify-content: space-evenly;
}
.modif {
    background-color: orangered;
}
.modif:hover{
    background-color: orange;
}
.delete {
    background-color: red;
    font-size: 0.6rem;
}
.delete:hover{
    background-color: orangered;
}
.admin-nav{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}