<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}La grotte du Meeple
			{% endblock %}
		</title>
		<link rel="icon" href="/icons/logo-blanc.webp"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header class="admin">
        <div>
			<img class="logo" src="/icons/logo-noir.webp" alt="">
			<p class="title">La grotte du Meeple</p>
        </div>
			<nav>
				<ul >
					<li class="link-site">
						<a  href="{{ path('accueil') }}">Retour à l'accueil du site</a>
					</li>
					<li>
						<a href="{{ path('inventaire') }}">Inventaire des produits</a>
					</li>
					<li>
						<a href="{{ path('listCommentaire')}}">listing des commentaires</a>
					</li>
				</ul>
			</nav>
		</header>
		
		{% block body %}{% endblock %}
	</body>
</html>
